{% extends '_main.admin.html.twig' %}

{% set title = 'Dodaj artykuł' %}

{% block title %}Admin - {{ title }} {% endblock %}

{% block admin_page_title %}Admin - {{ title }} {% endblock %}

{% block admin_page_body %}


    {% block content_body %}
        {{ form_start(articleForm) }}
        {{ form_row(articleForm.title, {
            label: 'Tytuł Artykułu',

        }) }}

        {{ form_row(articleForm.content, {
            label: 'Zawartość',
            attr: { style: 'height:180px' }
        }) }}
        {% if articleForm.publishedAt is defined %}
            {{ form_row(articleForm.publishedAt,
                {label: 'Data publikacji'}) }}
        {% endif %}

        <button type="submit" class="btn btn-primary">Stwórz</button>
        {{ form_end(articleForm) }}
    {% endblock %}

{% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}

    {#<link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>#}
    {#<script src="{{ asset('js/algolia-autocomplete.js') }}"></script>#}
{#{% endblock %}#}
