{% extends '_main.admin.html.twig' %}

{% set title = 'Usuń artykuł' %}

{% block title %}Admin - {{ title }} {% endblock %}

{% block admin_page_title %}Admin - {{ title }} {% endblock %}

{% block admin_page_body %}


    {% block content_body %}
        {{ form_start(articleForm) }}
        {{ form_row(articleForm.title, {
            label: 'Tytuł Artykułu',
            attr: {disabled :'disabled'}
        }) }}

        {{ form_row(articleForm.content, {
            label: 'Zawartość',
            attr: { style: 'height:180px' },
            attr: {disabled :'disabled'}
        }) }}
        {% if articleForm.publishedAt is defined %}
            {{ form_row(articleForm.publishedAt, {
                label: 'Data publikacji',
                attr: {disabled :'disabled'}
            }) }},

        {% endif %}
        <button type="submit" class="btn btn-danger">Usuń
        </button>
        <a href="{{ path('app_admin_articles') }}">
            <button type="button" class="btn btn-success">Anuluj
            </button>
        </a>
        {{ form_end(articleForm) }}
    {% endblock %}

{% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}

    {#<link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>#}
    {#<script src="{{ asset('js/algolia-autocomplete.js') }}"></script>#}
{#{% endblock %}#}
