{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 id="main-header" class="text-center shadowed-white">Ostatnie artykuły</h1>
                {% for article in articles %}
                    <div class="article-container my-1 p-1">
                        <a href="{{ path('app_articles', {slug: article.slug}) }}">
                            <div class="article-title d-inline-block pl-3 align-middle">
                                <span>{{ article.title }}</span>
                                {#<small class="ml-5"><i class="fas fa-heart"#}
                                {#style="color: red;"></i> {{ article.heartCount }}#}
                                {#</small>#}

                                {% if article.tags|length %}
                                    <br>
                                    {% for tag in article.tags %}
                                        <small>
                                            <span class="badge badge-warning">{{ tag.name }}</span>
                                        </small>
                                    {% endfor %}
                                    <br>
                                {% endif %}
                                <div>{{ article.content|truncate(40) }}</div>
                                <span class="align-left article-details">
                                    <img class="article-author-img rounded-circle"
                                         src="{{ asset(article.author.photo.path) }}"
                                         alt="avatar"> {{ article.author }} </span>
                                <small>
                                    <i class="far fa-comment text-center ml-5"></i> {{ article.nondeletedcomments|length }}
                                </small>
                                <span class="pl-5 article-details float-right"> {{ article.publishedAt ? article.publishedAt|ago }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {{ knp_pagination_render(articles) }}
            </div>
            <div class="col-4">
                {% if is_granted("ROLE_ADMIN") %}
                    <a style="color:black;" href="{{ path('app_admin_curiosities') }}"><h2 class="text-center">
                            Ciekawoski</h2></a>
                {% else %}
                    <h2 class="text-center">Ciekawoski</h2>
                {% endif %}
                {% for cur in curiosities %}
                    <div class="p-2">
                        <h3 class="text-right font-weight-bold">{{ cur.title }}</h3>
                        <p class="text-muted">{{ cur.text }}</p>
                        <small><a href="{{ cur.link }}">Czytaj dalej...</a></small>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
